.jumbotron1{
    width: 600px;
    height: 400px;
    padding:50px;
    margin: 0 auto;
    margin-top:100px;

}
.d-loginheader{
    margin: 0 auto; text-align: center; color: #720F83; text-transform: uppercase;
    margin:0px 10px 0 10px;
    padding: 10px;
    background: #ccccff;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}
.jumbotrone {
    padding-top: 30px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    color: inherit;
    background-color: #eee;
}
.jumbotron h1,
.jumbotron .h1 {
    color: inherit;
}
.jumbotrone p {
    margin-bottom: 15px;
    font-size: 21px;
    font-weight: 200;
}
.jumbotrone > hr {
    border-top-color: #d5d5d5;
}
.container .jumbotrone,
.container-fluid .jumbotrone {
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 6px;
}
.jumbotrone .container {
    max-width: 100%;
}
@media screen and (min-width: 768px) {
    .jumbotrone {
    }
    .container .jumbotrone,
    .container-fluid .jumbotrone {
        padding-right: 60px;
        padding-left: 60px;
    }
    .jumbotrone h1,
    .jumbotrone .h1 {
        font-size: 63px;
    }
}
